# Virtual Environment
.venv/
venv/

# IDE files
.idea/

# Python cache
__pycache__/
*.pyc

# Local database
*.db

# Output files
documentation.md
documentation.json
output_documentation.pdf

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml